h1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: red;
    font-size: 100px;
    text-align: center;
  }

  h3 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    color: red;
    font-size: 32px;
    text-align: center;
  }